

.results-table {
  background: var(--bg-panel);
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  padding: 6px;              /* FIXED: remove space */
  border: 1px solid var(--border-light);
  font-size: 12px;
}


.results-table-wrapper {
  flex-grow: 1;         /* takes remaining space */
  overflow-y: auto;     /* vertical scrollbar */
  overflow-x: auto;     /* horizontal scrollbar */
}